<%- include('header') %> 
  <body>
    <%- include('nav') %> 
    <%- include('sidenav') %> 
    <main>
      <ul class="collection with-header">
        <!-- stretch - use a collapsible instead of a collection -->
        <li class="collection-header">
          <h4>Snippets</h4> 
          <!-- <a href="/snippet/newSnippet" class="btn"><i class="material-icons">fiber_new</i></a> -->
        </li>
        <% snips.forEach(snip => { %> 
          <li class="collection-item">
            <span class="snip"> Snippet: <%= snip.data %> </span>
            <br><br>
            <span class="tags"> Tags: <%= snip.tags %> </span>
            <br><br>
            <span class="src"> Source: <%= snip.src %> </span>
            <!-- <a href="#!" class="secondary-content btn"><i class="material-icons">delete</i></a> -->
            <form action="/snippet/<%= snip.id %>?_method=DELETE" method="POST" class="secondary-content">
              <!-- ^ method overriding -->
              <!-- <button class="btn waves-effect waves-light red" type="submit" name="action">Delete -->
              <button class="btn waves-effect waves-light red" type="submit" name="action">delete
                <i class="material-icons left">delete</i>
              </button>
            </form>
            <a href="/snippet/<%= snip.id %>/edit" class="secondary-content btn"><i class="material-icons">edit</i></a>
            <a href="/snippet/<%= snip.id %>" class="secondary-content btn"><i class="material-icons">pageview</i></a>
            <br><br>
          </li>
        <% }) %> 
      </ul>
      <div class="fixed-action-btn"><a class="btn-floating btn-large blue pulse" href="/snippet/new" target="_self"><i class="large material-icons">library_add</i></a></div>
    </main>
    <%- include('footer') %> 
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/public/script.js"></script>
  </body>
</html> 