<%- include('partials/header') %> 
  <body>
    <%- include('partials/nav') %> 
    <%- include('partials/sidenav') %> 
    <main>
      <div id="d3">
        <div id="snippet"> 
          <div class="row ">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="/public/images/200905_Lightroom_IMG_20200605_205647.jpg">
                  <!-- todo - filter chips section -->
                  <!-- <div class="fixed-action-btn">Filter<a class="btn-floating btn-large blue pulse" href="/#!" target="_self"><i class="large material-icons">filter_list</i></a></div> -->
                  <% if(locals.user){ %>
                    <%# console.log( `>index.ejs>::locals.user::`, locals.user) %>
                    <span class="card-title"> <%= snipsnip.data %> </span>
                  <% } else { %>
                    <%# stretch - even tho users arent logged in,  display unique random snippets %>
                    <%# console.log('random snip 2:', randomSnip);  // not logged in %>
                    <span class="card-title"> <%= snippets[Math.floor(Math.random()*snippets.length)].data %> </span> <!-- working before login-->
                  <% } %> 
                  <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">autorenew</i></a>
                </div>
                <div class="card-content">
                  <p>Let's find something to peak your interest. <br> E.A.H. will keep track of what visitors like, <br> and keep improving it's curating abilities. <br> Refresh until you find a topic you care about!</p>
                </div>
                <div class="card-action">
                  <a href="#"><i class="small material-icons">search</i> What can I do?</a>
                  <a href="#"><i class="small material-icons">book</i> Learn more - direct from the source</a> <!-- icebox - waterfall icon -->
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </main>
    <%- include('partials/footer') %> 
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/public/script.js"></script>
  </body>
</html> 